<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests\resources\testingBootstrap.php"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="filehosting">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>