<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Список абитуриентов</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar  bg-light  border-info">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                {% if user is not null %}
                    <a class="btn btn-outline-info" href="/profile">Вы вошли
                        как {{ user.name|e }} {{ user.surname|e }} <br> Нажмите сюда для редактирования вашего профиля</a>
                {% else %}
                    <a class="btn btn-outline-info" href="/profile">Регистрация</a>
                {% endif %}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Найти студента"
                   aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>
<div class="container">
    {% include 'studentlist.twig' %}
    {% include 'pagination.twig' %}
</div>
{% include 'footer.twig' %}
</body>
</html>